<h2 class="dialog-title">Assign team for sprint available only for SCUM boards</h2>
<div class="buttons-container content-footer">
    <div class="buttons">
        <a href="#" class="cancel">OK</a>
    </div>
</div>



